@import "../../style/variables";
.AboutPage {
  padding: 0 $border-padding;
  margin: 0 auto;
  max-width: $container-width;

  .headline {
    font-size: 1.8rem;
    padding: 2rem 0;
  }

  .para {
    padding: 1rem 0;
    font-size: 1.3rem;
  }

  .list-names {
    padding-left: 0;
    list-style: none;
  }

  .list-names-item {
    font-size: 1.3rem;
  }
}
