@import "../../style/variables";

.CountyBanner {

  .container-top {
    position: relative;
    border-bottom: .5rem solid $red;
    padding: 1rem 0;
    margin-bottom: .5rem;

    .back-arrow {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
    }
  }

  .container-bottom {
    border-bottom: .2rem solid $teal;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
  }


  .CountyBanner-top {
    font-size: 1.5rem;
  }

  .CountyBanner-bottom {
    font-size: 1.5rem;
  }
}