@import "../../style/variables";

.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $border-padding;
  border-bottom: 1.2rem solid rgb(71,71,71);

  .title {
    font-size: 1.2rem;
    font-weight: 600;
  }

}

@media screen and (min-width: 768px) {

}
