@import "../../style/variables";
.IndexPage {
  margin: 0 auto;
  max-width: $container-width;
  .content {
    padding: 0 $border-padding;
  }
}

.button-cta {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  white-space: nowrap;
}

.top-flex-second {
  padding: 0 $border-padding;
}

.main-image {
  object-fit: contain;
  width: 100%;
}

.dropbox-bolded {
  padding: 1rem;
  font-size: 1.3rem;
}

.dropbox-copy {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.locate-copy-wrapper {
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.ensure-text-teal.Text {
  font-size: 1.2rem;
  padding: 1rem 0;
  color: $teal;
}

.locate-svg {
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}

.county-gov-copy {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: $bp-desktop) {
  .top-flex {
    display: flex;
    align-items: flex-start;
  }

  .top-flex-first {
    order: 2;
    flex: 1;
  }

  .top-flex-second {
    order: 1;
    flex: 1;

  }

  .main-image {
    height: 100%;
    width: 100%;
  }
}