@import "../../style/variables";
.Banner {
  position: relative;
  border-bottom: .5rem solid $red;
  padding: 1rem 0;
  margin-bottom: 1rem;

  .back-arrow {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }

  .Banner-top {
    font-size: 1.2rem;
  }

  .Banner-bottom {
    font-size: 1.4rem;
  }
}