@import "../../style/variables";

.ContactPage {
  padding: 0 $border-padding;

  .headline {
    font-size: 1.8rem;
    padding: 2rem 0;
  }

  .para {
    padding: 1rem 0;
    font-size: 1.3rem;
  }

  .list-names {
    margin-top: 1rem;
    margin-bottom: 2rem;


  }
}